<%= form_for(@entry) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "new title" %>
  </div>
  <div class="field">
  	<%= f.text_area :body, placeholder: "new body" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>